include ../partials/mixins

+project_head("/images/002_projects/collapse/collapse_01.jpg")
  +textblock(["COLLAPSE is the finale of an exciting collaboration between ScanLAB Projects, dance company New Movement Collective and composer/cellist Oliver Coates. The work was presented as a tickets dance performance and gallery show at the Southbank Centre in the summer of 2016."], "COLLAPSE: Southbank Centre")
  +textblock(["Dance, architecture, sculpture, film and music combined to reveal a startling new way to see the world. Becoming directly involved in an intimate performance the audience were invited to explore radical technology, movement and live music inside the lesser-known spaces of the Royal Festival Hall.",
    "Using pioneering image capture techniques, live and electronic music and striking choreographic imagery, Collapse celebrated the imperfect and accidental in today’s technology dependent world, probing the complexities of time, group memory and the cyclical nature of societal evolution.",
    "Are we survivors or fossils in the journey of tomorrow?"
  ], "PERFORMANCE: COLLAPSE - A Period Drama")
  .space
  +project_img("/images/002_projects/collapse/collapse_01.jpg", "", false)
  +project_img("/images/002_projects/collapse/collapse_02.jpg", "", false)
  +project_img("/images/002_projects/collapse/collapse_03.jpg", "", false)
  +project_img("/images/002_projects/collapse/collapse_04.jpg", "", false)
  .space
  +textblock(["A series of sculptures, film and sound act as spatial memories of the COLLAPSE performance. Digitally fabricated fragments of dancers limbs are suspended, lingering where their performer once created them. Traces of movement are solidified and stand as physical echoes, unearthed, archaeological monuments sitting within a landscape of projections and sound.",
    "The sculptures talk of a recent event now passed, but also hint at the perpetual human cycle of boom, exuberance, downfall and rediscovery. The film and audio backdrop depict the natural and manmade terrain that informs these cycles and is itself dramatically influenced by the human motions now frozen within. The city rises and falls in the background as the digital dust that both sustains and threatens our time."
  ], "GALLERY SHOW: COLLAPSE - An Exhibition of Remains")
  .space
  +project_img("/images/002_projects/collapse/collapse_01.jpg", "", false)
  +project_img("/images/002_projects/collapse/collapse_02.jpg", "", false)
  +project_img("/images/002_projects/collapse/collapse_03.jpg", "", false)
  +project_img("/images/002_projects/collapse/collapse_04.jpg", "", false)
  .space3