include ../partials/mixins

+project_head("https://vimeo.com/183507561", true)
  +textblock(["The amazing french-cuban twins ibeyi signed to XL Recordings (Adele, Radiohead, FKA Twigs, The xx) in 2013. We’ve been collaborating ever since, starting with their first ever music video for the single OYA and more recently their worldwide tour visuals.",
    "Ibeyi’s music draws on their heritage and family history, combining ritual chants with synths, samplers and jazz vocals. The twins’ roots are reflected in the polyglot nature of the lyrics — sung in English, French and Yoruban (a Nigerian language their ancestors spoke before being brought to Cuba by the Spanish). Ibeyi literally means “twins” in Yoruban dialect.",
    "Lisa Kainde Diaz and Naomi Diaz (the eldest by two minutes) were born in Paris, where they still live, but spent their first two years in Cuba. Their father was Miguel “Anga” Diaz, the member of the Buena Vista Social Club, who was acclaimed as the greatest conga player of his generation.",
    "Many of our visuals draw on the twins themselves, and their entwined individuality (Ghosts, Stranger Lover). More atmospheric tracks are echoed in landscape scans from ancient British forests and tangled exotic jungles (Oya, Behind the Curtain). The city dominates in bleaker, lonely visuals (Lost In My mind, Singles). In the climax to their shows the gloves are off and the visual get more psychedelic and thug chic (Fly, River)."
  ], "ibeyi OYA + LIVE: XL Recordings")
  .space
  +project_img("/images/002_projects/ibeyi/ibeyi_01.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_02.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_03.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_04.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_05.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_06.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_07.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_08.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_09.jpg", "", false)
  +project_img("/images/002_projects/ibeyi/ibeyi_10.jpg", "", false)
  .space3
