include ../partials/mixins

.w-container
  .Main
    +news_item("http://www.hkw.de/en/programm/projekte/2014/forensis/start_forensis.php", "images/004_news/FA_F.jpg", 
      "Forensis. The Architecture of Public Truth", "Friday 17th January 2014",
      "We are honoured to be included in the exhibition and accompanying book, Forensis by Forensic Architecture. The exhibition presents investigations involving imaging processes, satellite images, 3D visualisations, models and videos, mobilised as evidence on behalf of prosecution teams, civil society organisations, activists, human rights groups, and the United Nations.")
    +news_item("http://www.surface-gallery.com", "images/004_news/N.jpg",
      "NOISE: ERROR IN THE VOID", "Friday 17th January 2014",
      "Our exhibition NOISE: ERROR IN THE VOID explores the inherent mistakes made by modern technologies of vision. Here we see the unedited view of the world as seen through the eyes of the LiDAR machine. Reality is shrouded in a cloud of mistaken measurements, confused surfaces and misplaced three dimensional reflections. The exhibition opens 20th March at SURFACE_GALLERY, 51 Scrutton Street, Shoreditch.")
    