include ../partials/mixins

.w-container
  .w-row
    .Main
      #container
        //- +portfolio_item("./projects/soane", "images/000_projectthumbs/", "", "")
        +portfolio_item("./projects/dreamlife-of-driverless-cars", "images/000_projectthumbs/ddc.jpg", "Dream Life of Driverless Cars", "New York Times Magazine")
        +portfolio_item("./projects/bbcpompeii", "images/000_projectthumbs/BBCP3.jpg", "Pompeii | New Secrets Revealed", "BBC ONE")
        +portfolio_item("./projects/bbc-vr", "images/000_projectthumbs/bbc-vr.jpg", "Rome’s Invisible City", "VR + 8K 3D")
        +portfolio_item("./projects/horizontalhumans", "images/000_projectthumbs/horizontalhumans.jpg", "Horizontal Humans", "")
        +portfolio_item("./projects/ibeyi", "images/000_projectthumbs/ibeyi.jpg", "Ibeyi OYA + LIVE", "XL Recordings")
        +portfolio_item("./projects/newmuseumnewyork", "images/000_projectthumbs/NMNYC.jpg", "Phantom | Oculus Rift", "New Museum, NYC")
        +portfolio_item("./projects/bbcrome", "images/000_projectthumbs/BBCR.jpg", "Rome’s Invisible City", "BBC ONE")
        +portfolio_item("./projects/collapse", "images/000_projectthumbs/collapse.jpg", "COLLAPSE", "Southbank Centre")
        +portfolio_item("./projects/more4", "images/000_projectthumbs/M4.jpg", "More 4 Christmas Ident", "Øverbygd, Norway")
        +portfolio_item("./projects/dday360", "images/000_projectthumbs/DD2.jpg", "DDay 360", "PBS")
        +portfolio_item("./projects/morrowlorriane", "images/000_projectthumbs/PC.jpg", "Pennsylvania Castle", "Morrow Lorraine Architects")
        +portfolio_item("./projects/sciencemuseum", "images/000_projectthumbs/SM-B.jpg", "Shipping Galleries", "Science Museum, London")
        +portfolio_item("./projects/arctic", "images/000_projectthumbs/Arctic.jpg", "Arctic Climate Impact Tour", "Cambridge University")
        +portfolio_item("./projects/noise", "images/000_projectthumbs/Noise.jpg", "NOISE: Error in the Void", "Surface Gallery")
        +portfolio_item("./projects/barn-2b", "images/000_projectthumbs/B2B-B.jpg", "Barn 2B iPad App", "University for the Creative Arts")
        +portfolio_item("./projects/bartlettapp", "images/000_projectthumbs/SS-B.jpg", "Bartlett Digital Exhibition Apps", "University College London")
        +portfolio_item("./projects/frozenrelic", "images/000_projectthumbs/ArcticWorks.jpg", "Frozen Relic: Arctic Works", "AA Gallery Exhibition")
        +portfolio_item("./projects/forensicarchitecture", "images/000_projectthumbs/DeathCamps.jpg", "Living Death Camps", "Forensic Architecture")
        +portfolio_item("./projects/falstone", "images/000_projectthumbs/FS.jpg", "Falstone Country Show", "Kielder Art and Architecture")
        +portfolio_item("./projects/house", "images/000_projectthumbs/H-B.jpg", "3D Building Survey", "London & Cotswolds")
        +portfolio_item("./projects/lordnelson", "images/000_projectthumbs/NMM.jpg", "Lord Nelson's Trafalgar Coat", "National Maritime Museum")
        //- +portfolio_item("./projects/dft", "images/000_projectthumbs/DFT.jpg", '"If You Could See"', "Department For Transport THINK! Campaign")

        
        