include ../partials/mixins

.w-container
  .Main
    .section
      +press_group("Exhibitions & Screenings", [
        "Punkt Ø AS, Oslo, Norway, June 2015 (with Daniel Steegmann)",
        "Esther Schipper Gallery, Berlin, Mar. 2015 (with Daniel Steegmann)",
        "New Museum, New York, Feb. - Mar. 2015 (with Daniel Steegmann)",
        "Bergen KunstHall, Norway, Jan 2014 (with Otolith Group)",
        "Louisiana Museum of Modern Art, Copenhagen, Sept 2013 ",
        "CinemaXXI, Rome, Nov 2013 (with Anouk de Clercq) ",
        "Kaaitheater, Brussel, Sept 2013 (with Anouk de Clercq) ",
        "Architectural Association, London, Jan 2013",
        "Venice Biennale, July 2012",
        "Fabricate Conference, Bartlett Gallery London, ",
        "April 2011 Royal Academy, London, Summer Show 2010 & 11"])
      +press_group("Selected Awards", [
        "Ann Arbor Film Festival, Michigan, (US) March 2014 (with Anouk de Clercq)",
        "International Short Film Festival, Oberhausen (DE) May 2014 (with Anouk de Clercq)",
        "Tiger Award 2014, Nominated, Short Films at IFFR",
        "Climate Awards, Best Artistic Response, Finalist, 2013",
        "Awesome Foundation, Award Winner, March 2011"])
      +press_group("Selected Publications & Press", [
        "Composite Archaeology, bldgblog, June 2015",
        "Laser Scans London New Way See World, WIRED Magazine 2015",
        "Forensis: The Architecture of Public Truth, Sternberg Press, March 2014 ",
        "High Definition: Zero Tolerance in Design and Production, John Wiley & Sons, Jan 2014 ",
        "FABRICATE 2014, Riverside Architectural Press, Feb 2014",
        "VIEW FROM: THE ARCTIC, Architects Review, Jan 2013",
        "BBC, FROZEN RELIC, The exhibition that melts before your eyes, Feb 2013",
        "Architectural Review, THE IMPOSSIBILITY OF FORGETTING, Feb 2013",
        "SKY News - News and Technology, SCIENCE MUSEUM, Shipping Galleries, July 2013", 
        "WIRED Magazine, SUPERSIZE SCANNING, May 2011"])
      +clients("images/000_general/Clients_01.png", "images/000_general/Clients_02.png")