include ../partials/mixins

+project_head("/images/002_projects/rome-vr/Rome_VR+8K_Credit_FlorianVoggeneder_02.jpg")
  +textblock(["Following the success of BBC ONE’s Rome’s Invisible City ScanLAB have created two immersive experience allowing audiences greater access to the labyrinthine Roman underworld."],"Rome’s Invisible City: VR + 8K 3D")
  +textblock(["The first experience is a groundbreaking Google Cardboard Web VR application. Using only their mobile phone and a cardboard headset users embark on a journey through Roman quarries that were used to extract the building blocks that made Ancient Rome the great metropolis is once was. Users then resurface to explore the Pantheon, one of Rome’s most iconic monuments and still the largest, unsupported concrete structure in the world.",
    "Users have complete control when inside the application, using their gaze to control their navigation and activate additional in-viewer information. The app contains spatial sound, 3D stereoscopic video playback and functioned across all mobile browsers. At the time of launch it was one of the most groundbreaking Web VR experiences available."
    ], "Google Cardboard")
  .space
  +textblock(["The Ars Electronica Center in Linz, Austria has one of the most advanced 3D projection spaces in the world. ScanLAB’s 8K 3D experience takes an audience of up to 100 visitors on a jaw dropping journey into the Roman underworld. We visit ancient quarries, catacombs, aqueducts and sewers. These stunning visuals are presented on a towering projection surface which allows the audience to wander into the scene, disappearing inside the video content for a truly memorable, fully three dimensional experience."
    ], "AEC Linz: 8K 3D Projection")
  .space
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_01.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_02.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_03.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_04.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_05.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_06.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_07.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_08.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_09.jpg", "", false)
  +project_img("/images/002_projects/rome-vr/Rome_VR+8K_10.jpg", "", false)
  //- +project_img("/images/002_projects/rome-vr/Rome_VR+8K_11.jpg", "", false)
  //- +project_img("/images/002_projects/rome-vr/Rome_VR+8K_12.jpg", "", false)
  //- +project_img("/images/002_projects/rome-vr/Rome_VR+8K_13.jpg", "", false)
  .space3