extends ../structure

block vars
  - var page = 'about'

block head
  include ../partials/meta

block navigation
  include ../partials/navigation
block content
  include ../content/about

block scripts
  +ga("'UA-48784022-1'")

block footer
  include ../partials/footer