extends ../structure
include ../partials/mixins
block vars
  - var page = 'news'

block head
  include ../partials/meta

block navigation
  include ../partials/navigation
block content
  include ../content/news

block scripts
  +ga("'UA-48784022-1'")

block footer
  include ../partials/footer