include ../../partials/mixins

+services_header("http://player.vimeo.com/video/88170926")
  +textblock(["We develop interactive applications for viewing 3D scan data on tablets, devices and web interfaces. We specialise in refining the results of data capture into user friendly, exciting experiences.",
              "Through the scanning of objects, places and events these digital products are the perfect accompaniment to exhibitions, events and product information. Through iPad apps, mobile content and websites we deliver 3D information to a wider audience and engage with clients more effectively.",
              "We tailor content and experience to our clients’ needs, producing online catalogues, augmented reality apps, immersive gallery experiences and interactive digital storytelling."])
  include ../../partials/contact
  +related_projects_break()
  +related_project("./projects/bartlettapp", "_self", "images/000_projectthumbs/Bartlett2013.jpg", "Bartlett Summer<br> Show App", "")
  +related_project("./projects/falstone", "_self", "images/000_projectthumbs/FS_02.jpg", "Falstone Show<br>", "Country Fair")
  +related_project("./projects/barn-2b", "_self", "images/000_projectthumbs/B2B.jpg", "Barn 2B", "UCA")
  .space
  .space