include ../../partials/mixins

+services_header("http://player.vimeo.com/video/88170925")
  +textblock(["ScanLAB Projects provide a comprehensive data capture service using the latest 3D laser scanning technology to conduct pointcloud surveys. This allows us to digitally map the world in 3D: everything from large scale cityspaces to small industrial components.",
              "We utilise a range of laser scanning technologies including LIDAR and structured light. Each technology has different capabilities, ranges, speeds and accuracies. Recent developments make this technology quicker, more efficient and more cost-effective than ever before. We are leading the way in exploring new and exciting uses for this incredible technology.",
              "We provide scanning services to a range of industries, including architecture, museums, artists, scientists and filmmakers.",
              "If you would like to discuss a project, please get in touch."])
  include ../../partials/contact
  +related_projects_break()
  +related_project("/projects/house", "_self", "images/000_projectthumbs/GP.jpg", "3D Building<br>Survey", "London & Cotswolds.")
  +related_project("/projects/arctic", "_self", "images/000_projectthumbs/AT.jpg", "Arctic Tour<br>", "Cambridge Univerity")
  +related_project("/projects/lordnelson", "_self", "images/000_projectthumbs/NU.jpg", "Lord Nelson's<br> Trafalgar Coat", "National Maritime Museum")
  .space
  .space