include ../../partials/mixins

+services_header("http://player.vimeo.com/video/88178382")
  +textblock(["We are industry leading specialists in pointcloud visualisation. In addition to its high spatial accuracy, we believe 3D scanning is a compelling tool for explanation and illustration.",
              "Our visualisation and rendering techniques allow you to share accurate information in a clear and compelling way. This visual quality makes projects accessible to collaborators and a wider audience. ",
              "We produce exceptionally high quality images and unparalleled animations which have been broadcast and exhibited around the world."])
  include ../../partials/contact
  +related_projects_break()
  +related_project("./projects/forensicarchitecture", "_self", "images/000_projectthumbs/DC.jpg", "Living Death Camps", "Forensic Architects")
  +related_project("./projects/frozenrelic", "_self", "images/000_projectthumbs/FR.jpg", "Frozen Relic<br>", "Architectural Association")
  +related_project("./projects/sciencemuseum", "_self", "images/000_projectthumbs/SM.jpg", "Science Museum", "Shipping Galleries")
  .space
  .space