.w-container
  ul.footer-contact
    li.contact-box Address: Unit 7, 5 Durham Yard, London E2 6QF 
      a(href="https://www.google.co.uk/maps/preview/place/ScanLAB+Projects,+London/@51.5296336,-0.0613865,17z/data=!3m1!4b1!4m2!3m1!1s0x48761cc48b92c473:0xc0c68a63dfe56f29" target="_blank") (map)
    li.contact-box Telephone: +44 (0)20 7739 2524
    li.contact-box Email: 
      a(href="mailto:studio@scanlabprojects.co.uk" target="_blank") studio@scanlabprojects.co.uk