meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
link(rel="icon" href="images/000_general/favicon.ico" type="image/x-icon")
if (page == 'artic')
  title The Climate Impact Tour 2011 & 2012.
  meta(name="description" content="ScanLAB Projects joined expeditions to the Fram Strait, North West of Svalbard, Norway to capture in forensic detail the 3D form of Arctic Sea Ice.")
if (page == '')
  title
  meta(name="description" content="")
link(rel="stylesheet" href="css/normalize.css") 
link(rel="stylesheet" href="css/main.css") 
// script(src='js/jquery-1.8.3.min.js')