meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
link(rel="icon" href="images/000_general/favicon.ico" type="image/x-icon")
if (page == 'index')
  title ScanLAB Projects
  meta(name="description" content="The UK’s leading providers of large scale 3D scanning services, capturing precisely measured, beautifully coloured digital replicas of buildings, landscapes, objects and events. ")
if (page == 'about')
  title About | ScanLAB Projects
  meta(name="description" content="ScanLAB Projects is run by Matthew Shaw and William Trossell. Our backgrounds in architecture and fabrication mean we have unique insight into industries where 3D scanning can have its most substantial impact.")
if (page == 'scanning')
  title Services | 3D Scanning
  meta(name="description" content="ScanLAB Projects provide a comprehensive data capture service using the latest 3D laser scanning and LIDAR technology to carry out pointcloud surveys.")
if (page == 'publishing')
  title Services | 3D Publishing
  meta(name="description" content="We develop interactive applications for viewing 3D scan data on tablets, devices and web interfaces. We specialise in refining the results of data capture into user friendly and exciting experiences.")
if (page == 'visualisation')
  title Services | Visualisation
  meta(name="description" content="We are industry leading specialists in pointcloud visualisation. We produce exceptionally high quality images and unparalleled animations which have been broadcast and exhibited around the world")
if (page == 'portfolio')
  title Work | ScanLAB Projects
  meta(name="description" content="Our selected works.")
if (page == 'news')
  title News | ScanLAB Projects
  meta(name="description" content="The Latest from ScanLAB")
if (page == 'press')
  title Press | ScanLAB Projects
  meta(name="description" content="")
if (page == '')
  title ScanLAB Projects
  meta(name="description" content="")
link(rel="stylesheet" href="css/slider.css")
link(rel="stylesheet" href="css/sliders.css") 
link(rel="stylesheet" href="css/normalize.css") 
link(rel="stylesheet" href="css/main.css") 
script(src='js/jquery-1.8.3.min.js')
if (page == 'index')
  script(src='js/slider.min.js')