.w-container
  .top
    a(href="index")
      img(src="images/000_general/SLAB-Logo.svg" onerror="this.onerror=null; this.src='images/000_general/SLAB-Logo.png'")
  nav
    ul
      li
        if (page == 'portfolio')
          a(href="portfolio" id="indicate" target="_self") Work
        else
          a(href="portfolio" target="_self") Work
      li
        a Services
        ul
          li
            if (page == 'scanning')
              a(id="indicate" href="3dscanning" target="_self") 3D Scanning
            else
              a(id="nav" href="3dscanning" target="_self") 3D Scanning
          li
            if (page == 'publishing')
              a(id="indicate" href="3dpublishing" target="_self") 3D Publishing
            else
              a(id="nav" href="3dpublishing" target="_self") 3D Publishing
          li
            if (page == 'visualisation')
              a(id="indicate" href="visualisation" target="_self") Visualisation
            else
              a(id="nav" href="visualisation" target="_self") Visualisation
      li
        if (page == 'about')
          a(href="about" id="indicate" target="_self") About
        else
          a(href="about" target="_self") About
      li
        if (page == 'news')
          a(href="news" id="indicate" target="_self") News
        else
          a(href="news" target="_self") News